<!--Created by : Professor-->
<!--Modified by : Shila Rani Das (300969886) 30 Mar 2019-->
<!--This page is about me UI page -->
<div class="container text-center">

  <div class="position-relative overflow-hidden p-lg-1 p-md-1 m-md-6 text-center">

      <div class="col-md-12 p-lg-1 mx-auto my-5"><br>
          <h1 class="display-4 font-weight-normal">Shila Das</h1>
          <img src="/assets/images/shila1.jpg" class="img-fluid" alt="shila das">
          <br>
          <p class="lead font-weight-normal" style="margin-left: 2%">I bring over ten years’ experience in full stack developer and feel that my accomplishments and qualifications as a developer will
          benefit you.
          </p>
          <p class="lead font-weight-normal" style="margin-left: 2% ">
          I am proficient in C#, ASP.NET, HTML/CSS, MS SSIS, and SQL and have extensive experience with JavaScript, Oracle 12c,
          AJAX and vb.net. My attention to detail, communication and time management skills have proven beneficial to various
          software and systems development projects for business in such areas as banking, retail, and logistics.
          </p>
      </div>
<a type="button" class="btn btn-outline-info" href="https://www.linkedin.com/in/shila-das-9353434/">
      <img src="/assets/images/linkedin_button.jpg" class="img-fluid" alt="shila das">
      </a>
      <hr style="height:5px;border:none;color:#333;background-color:#7142f4;" />
      <a href="/assets/pdf/shila  das.pdf" class="btn" role="button" aria-pressed="true">
          <img src="/assets/images/button_view-my-resume.png" class="img-fluid" alt="shila das">
      </a>

  </div>

</div>

<br>
<h1 class="text-center" >My Skills</h1>
<br>
<div class="container text-center">

<div class="row">
  <div class="col-md-2">
    <div class="bg-secondary">
      <img class="imgSize" src="/assets/images/csharp1.png" alt="C#" title="C#" data-toggle="tooltip" data-placement="top"/>
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img class="imgSize" src="/assets/images/css.png" alt="CSS" title="CSS" data-toggle="tooltip" data-placement="top" />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize"
        src="/assets/images/Javascript.png"
        alt="Java Script" title="Java Script" data-toggle="tooltip" data-placement="top"
      />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize"
        src="/assets/images/angularjs4.png"
        alt="Angular JS" title="Angular JS" data-toggle="tooltip" data-placement="top"
      />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img class="imgSize" src="/assets/images/MySQL.png" alt="MY SQL" title="MY SQL" data-toggle="tooltip" data-placement="top" />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize"
        src="/assets/images/dbms.png"
        alt="Database Management System" title="Database Management System" data-toggle="tooltip" data-placement="top"
      />
    </div>
  </div>
</div><br><br>
<div class="row">
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize" title="CSS" data-toggle="tooltip" data-placement="top"
        src="/assets/images/html5_icon.png"
        alt="HTML 5"
      />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img class="imgSize" src="/assets/images/typescript_icon.png" alt="Type Script" title="Type Script" data-toggle="tooltip" data-placement="top" />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize"
        src="/assets/images/website_development_icon.png" title="Website Development" data-toggle="tooltip" data-placement="top"
        alt="Website Development"
      />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize" title="Web Services" data-toggle="tooltip" data-placement="top"
        src="/assets/images/webservices_icon.png"
        alt="Web Services"
      />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img class="imgSize" src="/assets/images/jquery_icon.png" alt="JQuery" title="JQuery" data-toggle="tooltip" data-placement="top" />
    </div>
  </div>
  <div class="col-md-2">
    <div class="bg-secondary">
      <img
        class="imgSize"
        src="/assets/images/expressjs_icon.png" title="ExpressJS" data-toggle="tooltip" data-placement="top"
        alt="ExpressJS"
      />
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" title="Bootstrap" data-toggle="tooltip" data-placement="top"
              src="/assets/images/bootstrap4_icon.png" alt="Bootstrap" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/aws_lambda_icon.png" alt="AWS Lamda" title="AWS Lamda"
              data-toggle="tooltip" data-placement="top" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/amazon_web_services_icon.png" title="Amazon Web Service"
              data-toggle="tooltip" data-placement="top" alt="Amazon Web Service" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" title="DynamoDB" data-toggle="tooltip" data-placement="top"
              src="/assets/images/dynamodb_icon.png" alt="DynamoDB" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/sqlite_icon.png" alt="Sql Lite" title="Sql Lite"
              data-toggle="tooltip" data-placement="top" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/amazonrds_icon.png" title="AWS RDS" data-toggle="tooltip"
              data-placement="top" alt="AWS RDS" />
      </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" title="WPF" data-toggle="tooltip" data-placement="top"
              src="/assets/images/wpf_icon.png" alt="WPF" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/ms_sql_server_icon.png" alt="MS SQL Server" title="MS SQL Server"
              data-toggle="tooltip" data-placement="top" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/linq_icon.png" title="Linq"
              data-toggle="tooltip" data-placement="top" alt="Linq" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" title="ASP.NET MVC" data-toggle="tooltip" data-placement="top"
              src="/assets/images/asp.net_mvc_icon.png" alt="ASP.NET MVC" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/dotnet_core_icon.png" alt=".NET core" title=".NET core"
              data-toggle="tooltip" data-placement="top" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/entity-framework.png" title="Entity Framework" data-toggle="tooltip"
              data-placement="top" alt="Entity Framework" />
      </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" title="ASP NET" data-toggle="tooltip" data-placement="top"
              src="/assets/images/asp-net.png" alt="ASP NET" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/mongodb.png" alt="MongoDB" title="MongoDB"
              data-toggle="tooltip" data-placement="top" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/ajax_icon.png" title="Ajax" data-toggle="tooltip"
              data-placement="top" alt="Ajax" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" title="Azure" data-toggle="tooltip" data-placement="top"
              src="/assets/images/microsoft_azure_icon.png" alt="Azure" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/vbnet.png" alt="VB.Net" title="VB.Net"
              data-toggle="tooltip" data-placement="top" />
      </div>
  </div>
  <div class="col-md-2">
      <div class="bg-secondary">
          <img class="imgSize" src="/assets/images/Data-Structure.png" title="Data Structure"
              data-toggle="tooltip" data-placement="top" alt="Data Structure" />
      </div>
  </div>
</div>
</div>

