<!--Created by : Professor-->
<!--Modified by : Shila Rani Das (300969886) 30 Mar 2019-->
<!--This page is my projects UI page -->
<div class="container">
  <h1 class="text-center" >My Projects</h1>
  <div class="card-deck">
      <div class="card bg-light  border-light" style="max-width: 400pt; min-width:200pt">
          <img src="/assets/images/report.jpg" class="card-img-top" alt="Report Process">
          <div class="card-body">
              <h3 class="card-title">Report Process</h3>
              <p class="card-text">This software generate some report with couple of files uploading and processing as per central bank direction about all
              foreign exchange related transaction for further submitting to Bangladesh Bank.</p>
              <h5 class="card-title">Responsibility</h5>
              <p class="card-text">Analyzing user requirements and then developing systems that meet their requirements.
              Responsible for working through all stages of a development project.</p>
              <h5 class="card-title">Achievement</h5>
              <p class="card-text">No need to manual report generate for Bangladesh bank after this software. They can generate that with couple of files
              uploading and processing. It saves time. Bank can use their staff for doing other works.</p>
          </div>
      </div>
      <div class="card bg-light border-light"  style="max-width: 400pt; min-width:200pt" >
          <img src="/assets/images/passport.jpg" class="card-img-top" alt="MRP Management">
          <div class="card-body">
              <h3 class="card-title">Passport Managment</h3>
              <p class="card-text">This software used for management of Machine Readable Passport (MRP) of Bangladesh which is replaced hand written
              passport. Anyone can apply for MRP via online and can login to view the delivery date and status of passport. Employee
              can login and print the MRP with necessary information after all validation process.</p>
              <h5 class="card-title">Responsibility</h5>
              <p class="card-text">Built the website by which module user can apply of MRP. And responsible to make customized print module for printing emergency contact information in existing passport.</p>
              <h5 class="card-title">Achievement</h5>
              <p class="card-text">No need to manual report generate for Bangladesh bank after this software. They can generate that with couple of files
              uploading and processing. It saves time. Bank can use their staff for doing other works.</p>
          </div>
      </div>
      <div class="card bg-light  border-light"  style="max-width: 500pt; min-width:200pt">
          <img src="/assets/images/bank.PNG" class="card-img-top" alt="Banking Internal WebSite">
          <div class="card-body">
              <h3 class="card-title">Banking Internal Website</h3>
              <p class="card-text">This website helps to quick view for all credit card defaulter's current status and contact no for collecting amount and
              helping to inform customer about updated status and keep record of some legal information about card holders. </p>
              <h5 class="card-title">Responsibility</h5>
              <p class="card-text">Analyzing user interface for prompt response of any query of custome related to credit card information. Also keep VIP customer status for separating them by providing customized interface. Built some alarm for reminder call or email or SMS.</p>
              <h5 class="card-title">Achievement</h5>
              <p class="card-text">No need to manually search on customer hardcopy paper which has stored on file or core banking software for responsing to user's requirement. User can
              contact with some customer who may be tried to change their contact frequently for escaping from collectors. And user
              can inform current status in a short time via phone..</p>
          </div>
      </div>
  </div>
</div>
