<div class="container text-left">
  <h1 class="text-center" >My Services</h1>


 <div class="accordion" id="accordionExample">
   <div class="card">
     <div class="card-header" id="headingOne">
       <h2 class="text-uppercase mb-0">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Full Stack Developer
         </button>
       </h2>
     </div>

     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
       <div class="card-body">
       <div class="row">
         <div class="col-md-8"><ul class="list-group list-group-flush">
           <li class="list-group-item">Design overall architecture of the web application.</li>
           <li class="list-group-item">Maintain quality and ensure responsiveness of applications.</li>
           <li class="list-group-item">Collaborate with the rest of the engineering team to design and launch new features.</li>
           <li class="list-group-item">Maintain code integrity and organization. Integrate data from various back-end services
             and databases</li>
           <li class="list-group-item">Experience working with graphic designers and converting designs to visual elements.</li>
           <li class="list-group-item">Understanding and implementation of security and data protection.</li>
           <li class="list-group-item">Knowledge of code versioning tools such as Git or SVN.</li>
           <li class="list-group-item">Experience in AWS.</li>
         </ul></div>
         <div class="col-md-4">
           <img src="/assets/images/fd.jpg" alt="" style="width:100%; height:70%">
         </div>
       </div>

       </div>
     </div>
   </div>
   <div class="card">
     <div class="card-header" id="headingTwo">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Front End Developer
         </button>
       </h2>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
       <div class="card-body">
         <div class="row">
           <div class="col-md-8">
         <ul class="list-group list-group-flush">
     <li class="list-group-item">Experienced in developing responsive, interactive websites.</li>
     <li class="list-group-item">Develop new user-facing features.</li>
     <li class="list-group-item">Ensure the technical feasibility of UI/UX designs.</li>
      <li class="list-group-item">Good understanding of asynchronous request handling, partial page updates, and AJAX.</li>
       <li class="list-group-item">Experience working with graphic designers and converting designs to visual elements.</li>
        <li class="list-group-item">Proficient understanding of cross-browser compatibility issues and ways to work around them.</li>
   </ul></div>
   <div class="col-md-4">
     <img src="/assets/images/frontend.jpg" alt="" style="width:100%; height:100%">
   </div>
   </div>
       </div>
     </div>
   </div>
   <div class="card">
     <div class="card-header" id="headingThree">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Back End Developer
         </button>
       </h2>
     </div>
     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
       <div class="card-body">
         <div class="row">
           <div class="col-md-8">

          <ul class="list-group list-group-flush">
     <li class="list-group-item">Good understanding of server-side CSS preprocessors, such as LESS and SASS.</li>
     <li class="list-group-item">User authentication and authorization between multiple systems, servers, and environments.</li>
     <li class="list-group-item">Implementing automated testing platforms and unit tests.</li>
      <li class="list-group-item">Creating database schemas that represent and support business processes.</li>
       <li class="list-group-item">Understanding differences between multiple delivery platforms such as mobile vs desktop, and optimizing output to match the specific platform.</li>
        <li class="list-group-item">Data migration, transformation, and scripting.</li>
        <li class="list-group-item">Integration of multiple data sources and databases into one system.</li>
        <li class="list-group-item">Compile and analyze data, processes, and codes to troubleshoot problems and identify areas for improvement.</li>
        <li class="list-group-item">Collaborating with the front-end developers and other team members to establish objectives and design more functional, cohesive codes to enhance the user experience.</li>
   </ul>
   </div>
   <div class="col-md-4">
     <img src="/assets/images/backEnd.png" alt="" style="width:100%; ">
   </div>
   </div>
       </div>
     </div>
   </div>
   <div class="card">
     <div class="card-header" id="heading4">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
           .Net Developer
         </button>
       </h2>
     </div>
     <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
       <div class="card-body">
         <div class="row">
           <div class="col-md-7">
        <ul class="list-group list-group-flush">
     <li class="list-group-item">Strong knowledge of .NET web framework.</li>
     <li class="list-group-item">Proficient in C# and/or VB.NET, with a good knowledge of their ecosystems.</li>
     <li class="list-group-item">Implementing automated testing platforms and unit tests.</li>
      <li class="list-group-item">Strong understanding of object-oriented programming.</li>
       <li class="list-group-item">Expert with Microsoft SQL Server.</li>
        <li class="list-group-item">Experience with popular web application frameworks.</li>
        <li class="list-group-item">Familiarity with Windows Presentation Framework.</li>

   </ul>
   </div>
   <div class="col-md-5">
     <img src="/assets/images/netDEv.png" alt="" style="width:100%; height:50%">
   </div>
   </div>
       </div>
     </div>
   </div>
   <div class="card">
     <div class="card-header" id="heading5">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
           Android Application Developer
         </button>
       </h2>
     </div>
     <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
       <div class="card-body">
         <div class="row">
           <div class="col-md-8">
        <ul class="list-group list-group-flush">
         <li class="list-group-item">Building and Designing advanced Android applications for Android platform</li>
 <li class="list-group-item">Cross-functional team collaboration to design, define and ship new features</li>
 <li class="list-group-item">To use and work with outside APIs and data sources</li>
 <li class="list-group-item">To perform unit test to ensure usability, robustness, edge cases and general reliability</li>
 <li class="list-group-item">To work and make sure improved application performance and bug fixing</li>
 <li class="list-group-item">Continuous evaluation, discovery and implementation of new technologies to maximize the efficiency of development.</li>
 </ul>
 </div>
 <div class="col-md-4"><img src="/assets/images/AndroidDev.jpg" alt="" style="width:100%; height:80%"></div>
 </div>
       </div>
     </div>
   </div>
    <div class="card">
     <div class="card-header" id="heading6">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
           Software Application Developer
         </button>
       </h2>
     </div>
     <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
       <div class="card-body">
         <div class="row">
           <div class="col-md-7">
        <ul class="list-group list-group-flush">
         <li class="list-group-item">Participate in the full SDLC in an Agile environment</li>
 <li class="list-group-item">Liaise with the QA team in order to fix software defects & bugs</li>
 <li class="list-group-item">Experience in development using .NET 4.0, WPF, C#, LINQ</li>
 <li class="list-group-item">Excellent time management and ability to prioritize and balance competing tasks</li>
 <li class="list-group-item">Ability to articulate complex concepts at levels appropriate for various audiences.</li>
 <li class="list-group-item">Working knowledge of source control (Git)</li>
 <li class="list-group-item">Demonstrated ability to quickly learn and adopt new technologies</li>
 <li class="list-group-item">Knowledge of SDLC</li>
 </ul>
 </div>
 <div class="col-md-5">
   <img src="/assets/images/windowsDev.jpg" alt="" style="width:100%; height:70%">
 </div>
 </div>
       </div>
     </div>
   </div>
    <div class="card">
     <div class="card-header" id="heading7">
       <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
           Angular Developer
         </button>
       </h2>
     </div>
     <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
       <div class="card-body"><div class="row">
         <div class="col-md-8">

        <ul class="list-group list-group-flush">
         <li class="list-group-item">Proficiency with JavaScript and HTML5</li>
         <li class="list-group-item">Deep knowledge of AngularJS practices and commonly used modules based on extensive work experience</li>
         <li class="list-group-item">Extensive knowledge of CSS and JS methods for providing performant visual effects.</li>
         <li class="list-group-item">Validating user actions on the client side and providing responsive feedback</li>
         <li class="list-group-item">Creating custom, general use modules and components which extend the elements and modules of core AngularJS</li>
         </ul>
         </div>
         <div class="col-md-4">
           <img src="/assets/images/angularDev.jpg" alt="" style="width:100%; height:70%">
         </div>
         </div>
       </div>
     </div>
   </div>
 </div>



 </div>

